$card-bg-primary: #F7F7F8;
$posts-container-bg-primary: #fff;
$pin-color: #b0b0c3;
$remove-color: #EB87BF;
$text-color-primary: #343541;
$buttons-bg-unselected: #E9E9ED;
$pinned-color: #10A37F;
$edit-post: rgb(236, 157, 20);